.header {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 5;
	overflow: visible;
	// background-color: red;
	// left: 120px;
	.back-overlay {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.73);
		z-index: 0;
		top: 0;
		width: 100%;
		height: 100vh;
	}
	.show-back-overlay {
		display: block;
	}
	.sidebar {
		display: none;
		position: absolute;
		top: 0;
		z-index: 2;
		width: 40%;
		width: 22em;
		height: 100vh;
		right: 0;
		color: #fff;
		background-color: $backgroundBlue;
		padding: 0em 3em;
		overflow-y: visible;
		transition: all 0.5s ease;
		
		.logo {
			background-color: #126a9a;
			box-shadow: 0px 4px 4px 0px #00000040;
			margin-right: 50px;
			display: flex;
			align-items: center;
			.logo-img {
				width: 50px;
				margin-right: 1em;
			}
			.company-name {
				margin-right: auto;
			}
			.close-icon {
				color: #fff;
				width: 30px;
				height: 30px;
				cursor: pointer;
				margin-right: 1em;
			}
		}
		.item {
			text-decoration: none;
			display: flex;
			align-items: center;
			margin: 2em 0;
			gap: 1em;
			color: #fff;
			cursor: pointer;
			.item-icon {
				width: 25px;
				height: 25px;
				color: #fff;
			}
		}
	}
	// @media screen and (min-width: 850px) {
	// 	.sidebar {
	// 		display: none;
	// 	}
	// }
	@media screen and (max-width: 550px) {
		.sidebar {
			width: 100%;
		}
	}
	.menu-bar {
		overflow: hidden;
		color: #fff;
		// margin: 0 120px;
		// margin: 0 8.3%;
		padding-top: 13px;
		padding-bottom: 13px;
		display: flex;
		align-items: center;
		font-size: 18px;
		gap: 20px;
		width: 83.5%;	
		.logo {
			width: 75px;
			height: 75px;
		}
		.company-name {
			cursor: pointer;
			font-size: 18px;
			margin-right: auto;
			color: #fff;
			text-decoration: none;
		}
		.item{
			color: #fff;
			text-decoration: none;
		}
		.hamburger {
			// color: red;
			width: 30px;
			height: 30px;
			cursor: pointer;
			display: none;
		}
	}
	@media screen and (max-width: 850px) {
		.menu-bar {
			// margin: 0 80px;
			.item {
				display: none;
			}
			.hamburger {
				display: block;
			}
		}
	}
	@media screen and (max-width: 550px) {
		.menu-bar {
			// margin: 0 50px;
		}
	}
}
.other-page-header{
	background-color: $backgroundBlue;
}