.service-card {
	padding: 2em 1.5em 1em 1.5em;
	// height: 400px;
	width: 400px;
	background-color: #fff;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 4px 4px 0px #00000040;

	gap: 1em;
	.icon {
		height: 7em;
		width: 7em;
		// margin-top: .5em;
		margin-bottom: 0.5em;
		color: $primary-blue;
	}
	.title {
		color: $primary-blue;
		font-family: 'DM Sans';
		font-size: 26px;
		text-align: center;
	}
	.dis {
		font-family: 'DM Sans';
		color: $deep-blue;
		font-size: 17px;
		font-weight: 400;
		// line-height: 30px;
		letter-spacing: 0em;
		text-align: center;
		color: $primary-grey;
	}
}
