.services-detail-page {
	width: 100%;
	background-color: $deep-blue;
	padding-top: 10em;
	display: flex;
	flex-direction: column;
	align-items: center;
	.heading {
		color: #fff;
		text-align: center;
		font-family: 'DM Sans';
		// line-height: 63px;
		letter-spacing: 0em;
		margin-bottom: 25px;
		font-size: 52px;
		font-weight: 700;
	}
	@media screen and (max-width: 500px) {
		.heading{
			font-size: 40px;
		}
		
	}
	.contents-wrapper {
		margin-bottom: 5em;
		width: 83.3%;
		.contents-nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			// justify-content: space-between;
			color: #fff;
			font-family: 'DM Sans';
			gap: 1em;
			.nav-button {
				border: none;
				border: 2px solid #fff;
				// background-color: transparent;
				// background-color: #fff;
				margin-top: 10px;
				font-family: 'DM Sans';
				font-size: 16px;
				font-weight: 500;
				cursor: pointer;
				// color: #fff;

				color: #fff;
				border-radius: 3em;
				padding: 5px 25px;
			}
			@media screen and (max-width: 500px) {
				.nav-button{
					font-size: 13px;
				}
				
			}
			.active-btn {
				background-color: white;
				color: #02416b;
			}
		}
		.content {
			height: max-content;
			margin-top: 5em;
			color: #fff;
			align-items: flex-start;
			// align-content: flex-start;
			display: flex;
			justify-content: center;
			justify-content: space-between;
			gap: 6em;
			padding: 0;
			.c-icon {
				// width: 20%;
				// width: 500px;
				min-width: 200px;
				// height: 500px;
				min-height: 200px;
				margin-left: 0;
				padding-left: 0;
				.icon {
					width: 100%;
					height: 100%;
				}
			}
			.title {
				margin-bottom: 3px;
			}
			.description {
				font-family: 'DM Sans';
				font-size: 20px;
				line-height: 32px;
				text-align: justify;
			}
		}
		@media screen and (max-width: 700px) {
			.content {
				flex-direction: column;
				gap: 2em;
				
				.c-icon {
					align-self: center;
				}
			}
		}
	}
}
