
	.biskit-wrapper {
		overflow: visible;
		position: relative;
		.biskit {
			position: relative;
			overflow: hidden;
			height: max-content;
			width: 242px;
			border-radius: 20px;
			border: 1px solid #000000;
			box-shadow: 0px 4px 4px 0px #00000040;
			.blue-part {
				height: 96px;
				background: #0e4e8c;
				position: relative;
				overflow: visible;
				padding: 21px 30px;
				text-align: left;
				display: flex;
				justify-content: center;
				align-items: center;
				.title {
					font-family: 'DM Sans';
					font-size: 24px;
					font-weight: 700;
					line-height: 31px;
					letter-spacing: 0px;
					text-align: left;
					color: #ffffff;
				}
				.down-triangle {
					bottom: -19px;
					position: absolute;
					height: 20px;
					width: 20px;
					background-color: #0e4e8c;
					clip-path: polygon(100% 0, 0 0, 50% 76%);
					left: 50%;
					transform: translate(-50%);
				}
			}

			.white-part {
				height: 66%;
				display: flex;
				gap: 26px;
				flex-direction: column;
				padding: 0 46px;
				justify-content: center;
				margin-top: 2.2em;
				margin-bottom: 18px;
				.successful-deployments {
					color: #0e4e8c;
					height: 60px;
					font-family: Poppins;
					font-size: 20px;
					font-weight: 500;
					line-height: 30px;
					letter-spacing: 0em;
					text-align: left;
					.hidden-text {
						visibility: hidden;
					}
				}
				.tam {
					color: #0e4e8c;
					font-family: Poppins;
					text-align: left;
					font-size: 20px;
					font-weight: 500;
					line-height: 30px;
					letter-spacing: 0em;
					text-align: left;
					.empty-line {
						color: #0e4e8c;
						width: 35px;
						margin-top: 20px;
					}
					.hidden-text {
						visibility: hidden;
						font-family: 'DM Sans';
						font-size: 18px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: left;
						color: #0e4e8c;
						padding-top: 7.5px;
					}
					.thin {
						font-family: 'DM Sans';
						font-size: 18px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: left;
						color: #0e4e8c;
					}
				}
			}
		}
		.top-left-icon {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: -35px;
			left: -35px;
			z-index: 55;
			height: 71px;
			width: 71px;
			border-radius: 50%;
			border: 5px solid #0e4e8c;
			background-color: #ffffff;
			box-shadow: 0px 4px 4px 0px #00000040;

			.logo {
				height: 35.11973190307617px;
				width: 35px;
			}
		}
	}
