.products-page {
	background-color: #fff;
	.products-section {
		padding-bottom: 5em;
		.heading {
			padding-top: 4em;
			// color: #fff;
			color: $primary-blue;
			text-align: center;
			font-family: 'Poppins';
			font-size: 42px;
			font-weight: 700;
			letter-spacing: 0em;
			margin-bottom: 25px;
		}
		.new-cards-wrapper {
			margin-top: 5em;
			// height: 500px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 3em;
			.new-card {
				width: 83.5%;
				border: 1px solid $deep-blue;
				border-radius: 3em;
				padding: 3em;
				display: flex;
				gap: 5em;
				color: #fff;
				color: $deep-blue;
				.title-intro {
					width: 40%;
					.title {
						font-size: 1.8em;
					}
				}
				.contents {
					display: flex;
					flex-direction: column;
					gap: 1em;
					width: 100%;
					.content {
						display: flex;
						gap: 1em;
						// align-items: flex-start;
						.icon-wrapper {
							width: max-content;
							height: max-content;
							.icon {
								width: 30px;
								height: 30px;
							}
						}
						.text {
							.title {
								font-size: 1.2em;
							}
							.dis {
								text-align: justify;
							}
							.dis-list {
								margin-left: 1em;
							}
						}
					}
				}
			}
			@media screen and (max-width: 750px) {
				.new-card {
					flex-direction: column;
					gap: 3em;
					.title-intro {
						width: 60%;
					}
				}
				.contents {
					display: flex;
					flex-direction: column;
					gap: 1em;
					width: 100%;
					.content {
						display: flex;
						gap: 1em;
						// align-items: flex-start;
						.icon-wrapper {
							width: max-content;
							height: max-content;
							.icon {
								width: 30px;
								height: 30px;
							}
						}
						.text {
							.title {
								font-size: 1.2em;
							}
							.dis {
							}
							.dis-list {
								margin-left: 1em;
							}
						}
					}
				}
			}
			@media screen and (max-width: 550px) {
				.new-card {
					padding: 2em;
					gap: 2em;
				}
			}
		}
	}
}
