@import './ourOfferings/ourOfferings';
@import './testimonial';
@import '../../forAll/getInTouch';
@import './coreAspects';
@import './ourProducts';

.home-page {
	height: max-content;
	// width: 100%;
	// height: 6875px;
	// height: 6975px;
	// background-color: $backgroundBlue;

	.blur-gradient-1 {
		position: absolute;
		z-index: 0;
		height: 876px;
		width: 876px;
		left: -372px;
		top: -381px;
		border-radius: 0px;
		background: #126c9c;
		filter: blur(75px);
	}
	.blur-gradient-2 {
		position: absolute;
		z-index: 0;
		height: 876px;
		width: 876px;
		left: 847px;
		top: 139px;
		border-radius: 0px;
		background: #126c9c;
		filter: blur(100px);
	}

	.banner-section {
		background-color: $backgroundBlue;
		height: 850px;
		.banner-wrapper {
			height: 784px;
			// height: max-content;
			width: 100%;
			position: absolute;
			z-index: 0;
			top: 116px;
			.banner-image {
				// position: absolute;
				height: 100%;
				width: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		.hub-illustration {
			position: absolute;
			// width: 850px;
			width: 59%;
			height: 585px;
			// left: 605px;
			left: 42%;
			top: 265px;
			border-radius: 0px;
		}
		@media screen and (max-width: 1290px){
			.hub-illustration {
				width: 70%;
				left: 35%;
			}
		}
		@media screen and (max-width: 1140px){
			.hub-illustration {
				width: 75%;
				left: 30%;
			}
		}
		@media screen and (max-width: 1034px){
			.hub-illustration {
				height: 550px;
				width: 80%;
				left: 25%;
				top: 310px;
			}
		}
		@media screen and (max-width: 920px){
			.hub-illustration {
				width: 85%;
				left: 20%;
			}
		}
		@media screen and (max-width: 770px){
			.hub-illustration {
				width: 90%;
				left: 10%;
			}
		}
		.caption-wrapper {
			padding-bottom: 8px;
			position: absolute;
			margin-top: 330px;
			margin-left: 120px;
			color: #fff;
			.caption {
				line-height: 63px;
				font-weight: 700;
				font-size: 42px;
			}
			.slogan {
				margin-right: 2em;
				// height: 33px;
				left: 0px;
				margin-top: 30px;
				border-radius: nullpx;
				font-family: 'Poppins';
				font-size: 18px;
				font-weight: 400;
				line-height: 33px;
				letter-spacing: 0em;
				text-align: left;
			}
			.play-button {
				text-transform: none;
				display: flex;
				gap: 5px;
				align-items: center;
				height: 53.18000030517578px;
				width: max-content;
				cursor: pointer;
				// width: 175.89669799804688px;
				// left: 120px;
				margin-top: 30px;
				border-radius: 5px;
				padding: 13px 26px 13px 26px;
				background: #ffffff;
				font-size: 18px;
				font-weight: 500;
				line-height: 27px;
				letter-spacing: 0em;
				text-align: left;
				color: #054d7c;
				font-family: 'Poppins';
				box-shadow: 0px 8px 4px 0px #00000040;
				.play-icon {
					width: 25px;
					height: 25px;
				}
			}
		}
		@media screen and (max-width: 860px) {
			.caption-wrapper {
				margin-left: 80px;
			}
		}
		@media screen and (max-width: 790px) {
			.caption-wrapper {
				width: 620px;
			}
		}
		@media screen and (max-width: 700px) {
			.caption-wrapper {
				width: 620px;
				margin-left: 40px;
			}
		}
		@media screen and (max-width: 650px) {
			.caption-wrapper {
				width: 500px;
				.slogan {
					width: 400px;
				}
			}
		}
		@media screen and (max-width: 510px) {
			.caption-wrapper {
				width: 400px;
				.caption {
					// font-size: 2em;
				}
				.slogan {
					width: 400px;
				}
			}
		}
		@media screen and (max-width: 450px) {
			.caption-wrapper {
				margin-left: 30px;
				width: 350px;
				.caption {
					font-size: 2em;
					width: 300px;
				}
				.slogan {
					// font-size: 15px;
					width: 300px;
				}
				.button {
					font-size: 15px;
					//
					height: 45px;
					width: 165px;
					padding: 13px 20px 13px 26px;
					.play-icon{
						height:20px;
						width: 20px;
					}
				}
			}
		}
	}
	.about-section {
		clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
		background-color: #ffffff;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 121px;
		padding-bottom: 251px;
		// padding-left: 35px;
		// padding-right: 35px;
		padding: 121px 70px 251px 70px;
		gap: 70px;
		.payment-img {
			height: 289px;
			width: 525px;
			// background: #d9d9d9;
		}
		.text-wrapper {
			cursor: pointer;
			// overflow-y: hidden;
			height: 289px;
			height: max-content;
			width: 606px;
			.title {
				font-family: 'DM Sans';
				font-size: 42px;
				font-weight: 700;
				letter-spacing: -1px;
				color: #02416b;
			}
			.discription {
				.paragraph {
					margin-top: 20px;
					font-family: 'DM Sans';
					font-size: 18px;
					font-weight: 400;
					line-height: 32px;
					text-align: left;
					color: #02416b;
					//
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 7; /* number of lines to show */
					line-clamp: 2;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
	@media screen and (max-width: 850px) {
		.about-section {
			flex-direction: column;
			padding: 121px 80px 251px 80px;
			// align-items: center;
			.payment-img {
				width: 100%;
				// height: 289px;
				// width: 525px;
				// background: #d9d9d9;
			}
			.text-wrapper {
				width: 100%;
			}
		}
		@media screen and (max-width: 550px) {
			.about-section {
				padding: 121px 50px 251px 50px;
			}
		}
	}
	//
	.our-clients-section {
		// position: relative;
		// position: absolute;
		height: max-content;
		.banner-image {
			background-color: $backgroundBlue;
			position: absolute;
			z-index: -1;
			height: 1083px;
			width: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			// margin-top: 1216px;
			margin-top: -285px;
			// mix-blend-mode: multiply;
			background-blend-mode: multiply;
		}
		.elements-wrapper {
			width: 100%;
			position: absolute;
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			// margin-top: 660px;
			.title {
				font-family: 'DM Sans';
				color: #ffffff;
				font-size: 42px;
				font-weight: 700;
				letter-spacing: -1px;
				line-height: 80px;
				text-align: center;
			}
			.clients-logo-wrapper {
				display: flex;
				flex-wrap: wrap;
				column-gap: 24px;
				row-gap: 36px;
				margin-top: 65px;
				width: 100%;
				height: max-content;
				justify-content: center;
				padding: 0 135px;
				box-sizing: border-box;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				// column-gap: 0px;
				.logo {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 8px;
					text-align: center;
					width: 174px;
					height: max-content;
					.logo-img-wrapper {
						display: flex;
						align-items: center;
						background-color: #fff;
						border-radius: 15px;
						width: 80px;
						height: 80px;
						// width: 60px;
						// height: 60px;
						.logo-image {
							width: 100%;
							height: 100%;
						}
					}
					.client-name {
						font-family: 'Manrope';
						font-size: 16px;
						font-weight: 400;
						line-height: 22px;
						color: #f3f3f3;
						// font-size: 14px;
						width: 130px;
					}
				}
			}
			@media screen and (max-width: 1250px) {
				.clients-logo-wrapper {
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				}
			}
			@media screen and (max-width: 1020px) {
				.clients-logo-wrapper {
					grid-template-columns: 1fr 1fr 1fr 1fr;
				}
			}
			@media screen and (max-width: 810px) {
				.clients-logo-wrapper {
					grid-template-columns: 1fr 1fr 1fr;
				}
			}
			@media screen and (max-width: 620px) {
				.clients-logo-wrapper {
					grid-template-columns: 1fr 1fr;
				}
			}
			@media screen and (max-width: 500px) {
				.clients-logo-wrapper {
					column-gap: 0px;
					.logo {
						.logo-img-wrapper {
							width: 60px;
							height: 60px;
						}
						.client-name {
							font-size: 14px;
						}
					}
				}
			}
		}
		.see-more-btn {
			// btn
			text-transform: none;
			color: #ffffff;
			border: 1px solid #ffffff;
			margin-top: 65px;
			background-color: transparent;
			height: 30px;
			width: 126px;
			// left: 646px;
			// top: 510px;
			border-radius: 25px;
			color: #ffffff;
			font-family: 'Open Sans';
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
		}
		.see-more-btn:hover {
			background-color: #fff;
			color: #02416b;
			transition: 0.4s;
			cursor: pointer;
		}
	}
	.big-container {
		margin-top: 587px;
		position: relative;
		// position: absolute;
		// z-index: 2;
		width: 100%;
		// margin-top: 1337px;
		// margin-top: 1245px;
		height: max-content;
		overflow: hidden;
	}
	.get-in-touch-section {
		background-color: $backgroundBlue;
		padding-bottom: 204.82px;
		padding-top: 170px;
		position: relative;
		min-height: 1087px;
		height: max-content;
		// height: 1500px;
	}
	@media screen and (max-width: 1037px) {
		.get-in-touch-section {
			height: 1600px;
		}
	}
	@media screen and (max-width: 1065px) {
		.get-in-touch-section {
			height: 1600px;
		}
	}
	@media screen and (max-width: 600px) {
		.get-in-touch-section {
			height: 1875px;
		}
	}
}
