.our-products {
	position: relative;
	height: 623px;
	background-color: #fff;
	.heading {
		// margin-top: 124px;
		font-family: 'Poppins';
		font-size: 42px;
		font-weight: 700;
		line-height: 63px;
		letter-spacing: -1px;
		text-align: center;
		color: #0e4e8c;
	}
	.sub-heading {
		font-family: 'DM Sans';
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
		color: #959595;
		margin-top: 16px;
	}
	.outer {
		display: flex;
		justify-content: center;
		.snakey-line {
			position: absolute;
			height: 211.02610778808594px;
			width: 1199.984130859375px;
			bottom: 9.5em;
		}
		.content-wrapper {
			position: relative;
			display: flex;
			justify-content: center;
			.banking-wrapper {
				margin-top: 194px;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: max-content;
				overflow: visible;
				.banking {
					.title {
						overflow: hidden;
						font-family: 'DM Sans';
						font-size: 26px;
						font-weight: 700;
						line-height: 26px;
						letter-spacing: 0.8999999761581421px;
						text-align: center;
						color: #0e4e8c;
					}
					.sub-title {
						margin-top: 4px;
						color: #959595;
						font-family: 'DM Sans';
						font-size: 18px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: center;
						width: 264px;
					}
				}
				.logo-bg {
					background: #0e4e8c;
					height: 75px;
					width: 75px;
					margin-top: 51px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 0px 4px 4px 0px #00000080;
					margin-bottom: 6px;
					.bank-icon {
						height: 35.11973190307617px;
						width: 35px;
					}
				}
			}
			.capital-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 119px;
				margin-left: 1px;
				overflow: visible;
				width: max-content;
				.capital {
					.title {
						overflow: hidden;
						font-family: 'DM Sans';
						font-size: 26px;
						font-weight: 700;
						line-height: 26px;
						letter-spacing: 0.8999999761581421px;
						text-align: center;
						color: #0e4e8c;
					}
					.sub-title {
						margin-top: 4px;
						color: #959595;
						font-family: 'DM Sans';
						font-size: 18px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: center;
						width: 203px;
					}
				}
				.logo-bg {
					margin-bottom: 58px;
					background: #0e4e8c;
					height: 75px;
					width: 75px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 0px 4px 4px 0px #00000080;
					.coins-icon {
						height: 35.11973190307617px;
						width: 35px;
					}
				}
			}
			.lending-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				//
				width: max-content;
				margin-top: 189px;
				margin-left: 46.5px;
				overflow: visible;
				.lending {
					.title {
						overflow: hidden;
						font-family: 'DM Sans';
						font-size: 26px;
						font-weight: 700;
						line-height: 26px;
						letter-spacing: 0.8999999761581421px;
						text-align: center;
						color: #0e4e8c;
					}
					.sub-title {
						width: 203px;
						margin-top: 4px;
						color: #959595;
						font-family: 'DM Sans';
						font-size: 18px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: center;
					}
				}
				.logo-bg {
					// margin-bottom: 58px;
					background: #0e4e8c;
					height: 75px;
					width: 75px;
					margin-top: 18px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 0px 4px 4px 0px #00000080;
					.coins-icon {
						height: 35.11973190307617px;
						width: 35px;
					}
				}
			}
			.delivery-channel-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: max-content;
				margin-top: 119px;
				margin-left: 0.5px;
				// margin-left: 234.01px;
				// width: 264px;
				padding-bottom: 1em;
				overflow: visible;
				.delivery-channel {
					display: flex;
					flex-direction: column;
					align-items: center;
					.title {
						// background-color: rgb(134, 42, 42);
						overflow: hidden;
						font-family: 'DM Sans';
						font-size: 26px;
						font-weight: 700;
						line-height: 26px;
						letter-spacing: 0.8999999761581421px;
						color: #0e4e8c;
						width: 208px;
						text-align: center;
					}
					.sub-title {
						width: 203px;
						margin-top: 4px;
						color: #959595;
						font-family: 'DM Sans';
						font-size: 18px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: center;
						width: 264px;
					}
				}

				.logo-bg {
					margin-bottom: 58px;
					background: #0e4e8c;
					height: 75px;
					width: 75px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 0px 4px 4px 0px #00000080;
					.wallet-icon {
						height: 35.11973190307617px;
						width: 35px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1220px) {
	.our-products {
		// height: 740px;
		height: 800px;
		.sub-heading {
			margin: 0 1.5em;
		}
		.outer {
			display: flex;
			justify-content: center;
			.snakey-line {
				display: none;
			}
			.content-wrapper {
				width: 70%;
				flex-direction: column;
				align-items: flex-start;
				gap: 20px;
				.banking-wrapper {
					margin-top: 119px;
					flex-direction: row-reverse;
					gap: 2.2em;
					.banking {
						.title {
							text-align: left;
						}
						.sub-title {
							text-align: left;
							width: 190px;
						}
					}
					.logo-bg {
						margin-top: 0px;
						height: 75px;
						width: 75px;
					}
				}
				.capital-wrapper {
					align-self: flex-end;
					margin-left: 0;
					gap: 1.4em;
					margin-top: 1em;
					flex-direction: row;
					align-items: center;
					.capital {
						.title {
							text-align: left;
						}
						.sub-title {
							text-align: left;
						}
					}
					.logo-bg {
						margin-bottom: 0px;
					}
				}
				.lending-wrapper {
					margin-top: 1em;
					margin-left: 0;
					flex-direction: row-reverse;
					gap: 1.4em;
					.lending {
						.title {
							text-align: left;
						}
						.sub-title {
							text-align: left;
						}
					}
					.logo-bg {
						margin: 0;
					}
				}
				.delivery-channel-wrapper {
					align-self: flex-end;
					gap: 0.4em;
					margin-top: 1em;
					margin-left: 0;
					flex-direction: row;
					.logo-bg {
						margin: 0;
					}
					.delivery-channel {
						.title {
							text-align: left;
						}
						.sub-title {
							margin: 0;
						}
					}
				}
			}
			@media screen and (max-width: 1150px) {
				.content-wrapper {
					width: 80%;
				}
			}
			@media screen and (max-width: 550px) {
				.content-wrapper {
					.banking-wrapper {
						align-self: center;
						width: 330px;
						gap: 2em;
						justify-content: flex-end;
					}
					.capital-wrapper {
						width: 310px;
						width: 330px;
						align-self: center;
						gap: 2em;
						justify-content: flex-start;
					}
					.lending-wrapper {
						width: 310px;
						width: 330px;
						align-self: center;
						gap: 2em;
						justify-content: flex-end;
					}
					.delivery-channel-wrapper {
						width: 330px;
						align-self: center;
						justify-content: flex-start;
						gap: 2em;
						.delivery-channel {
							width: 65%;
							margin: 0;
							padding: 0;
							.sub-title {
								padding: 0;
								margin: 0;
							}
						}
					}
				}
			}
			@media screen and (max-width: 425px) {
				.content-wrapper {
					width: 90%;
				}
			}
			@media screen and (max-width: 375px) {
				.content-wrapper {
					width: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 1220px) {
	.our-products {
		height: 815px;
	}
}
@media screen and (max-width: 550px) {
	.our-products {
		height: 850px;
	}
}
