@import './memberCard';
.about-page {
	background-color: $backgroundBlue;
	padding-bottom: 0;
	.blue-container {
		padding: 0 120px;
		.about-section {
			margin-bottom: 107px;
			// height: 50em;
			.title {
				padding-top: 4em;
				color: #fff;
				text-align: center;
				font-family: 'Poppins';
				font-size: 42px;
				font-weight: 700;
				// line-height: 63px;
				letter-spacing: 0em;
				margin-bottom: 25px;
			}
			.discription {
				color: #fff;
				font-family: 'Poppins';
				font-size: 18px;
				font-weight: 400;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: center;
			}
			.picture {
				margin-top: 3em;
				background-color: rgb(229, 229, 229);
				// height: 40em;
				width: 100%;
				.group-photo {
					height: 100%;
					width: 100%;
				}
			}
		}
		.message-from-director-section {
			height: max-content;
			width: 100%;
			.title {
				font-family: 'DM Sans';
				font-size: 42px;
				font-weight: 700;
				letter-spacing: -1px;
				text-align: left;
				color: #fff;
			}
			.contents {
				display: flex;
				margin-top: 2em;
				gap: 2.5em;
				.text {
					font-family: 'Poppins';
					color: #fff;
					font-size: 15px;
					font-weight: 400;
					line-height: 30px;
					letter-spacing: 0em;
					text-align: justify;
					width: 60%;
				}
				.manager-image {
					// height: 90%;
					// height: 50%;	
					width: 40%;
					height: 550px;
					// height: max-content;
				}
			}
		}
		.mission-and-vision-section {
			margin-top: 107px;
			padding-bottom: 107px;
			display: flex;
			width: 100%;
			// padding: 2em;
			justify-content: space-between;
			// justify-content: flex-end;
			justify-content: center;
			gap: 3em;
			.mission-card {
				padding: 2em 2em 1em 2em;
				// flex-grow: 1;
				width: 36.5em;
				border-radius: 1em;
				box-shadow: 0px 4px 4px 0px #00000040;
				background-color: rgb(255, 255, 255);
				display: flex;
				flex-direction: column;
				align-items: center;
				// gap: 0.5em;
				color: #0e4e8c;
				.icon {
					// color: #1448ff;
					height: 7em;
					width: 7em;
					// color: #fff;
				}
				.title {
					font-family: 'DM Sans';
					font-size: 26px;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 0.8999999761581421px;
					text-align: center;
					margin-top: 0.5em;
					margin-bottom: 1em;
				}
				.discription {
					text-align: center;
					left: 513px;
					top: 937px;
				}
			}
		}
	}
	.our-team-section {
		margin-bottom: 107px;
		padding-top: 107px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		.title {
			color: #0e4e8c;
			text-align: center;
			font-size: 42px;
			font-weight: 700;
			letter-spacing: 0em;
			margin-bottom: 25px;
			font-family: 'Poppins';
		}
		.short-intro {
			text-align: center;
			color: grey;
			width: 615px;
		}
		.member-card-wrapper {
			margin-top: 4em;
			padding: 0 80px;
			display: flex;
			gap: 2em;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
