.get-in-touch {
	position: relative;
	// position: absolute;
	// z-index: 1;
	margin: 0 136px;
	overflow: visible;
	.blur-gradient-3 {
		z-index: 0;
		position: absolute;
		height: 580px;
		width: 580px;
		left: -151px;
		top: -250px;
		border-radius: 0px;
		background: #126c9c;
		filter: blur(100px);
	}
	.contents {
		width: 100%;
		// background-color: green;
		position: absolute;
		z-index: 1;
		.heading {
			// position: absolute;
			// z-index: 1;
			color: #ffffff;
			font-family: 'DM Sans';
			font-size: 42px;
			font-weight: 700;
			line-height: 80px;
			letter-spacing: -1px;
			text-align: left;
		}
		.alignment {
			// background-color: red;
			margin-top: 52px;
			display: flex;
			gap: 63px;
			.form {
				// width: 752px;
				// width: 64.4%;
				overflow: visible;
				input:focus,
				textarea:focus,
				select:focus {
					outline: none;
				}
				.type-text {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-column-gap: 25px;
					overflow: visible;
					.label-and-input-wrapper {
						margin-bottom: 32px;
						.label {
							overflow: visible;
							padding: 0;
							.label-text {
								font-family: 'DM Sans';
								font-size: 18px;
								font-weight: 700;
								line-height: 26px;
								letter-spacing: 0.8999999761581421px;
								text-align: left;
								color: #ffffff;
							}
						}
						.input-type-text {
							width: 100%;
							height: 68px;
							// width: 364px;
							left: 0px;
							margin-top: 12px;
							border-radius: 14px;
							padding: 21px 25px 21px 25px;
							background-color: #126a9a;
							border: 1px solid #ffffff;
							color: #fff;
							font-size: 18px;
						}
						::placeholder {
							font-family: 'DM Sans';
							font-size: 18px;
							font-weight: 400;
							line-height: 27px;
							letter-spacing: 0em;
							text-align: left;
							color: #eeeeee80;
						}
					}
				}
				@media screen and (max-width: 600px) {
					.type-text {
						display: grid;
						grid-template-columns: 1fr;
						width: 100%;
					}
				}
				.type-textarea {
					.label-and-textarea-wrapper {
						.label {
							margin-bottom: 32px;
							overflow: visible;
							padding: 0;
							.label-text {
								font-family: 'DM Sans';
								font-size: 18px;
								font-weight: 700;
								line-height: 26px;
								letter-spacing: 0.8999999761581421px;
								text-align: left;
								color: #ffffff;
							}
						}
						.input-type-textarea {
							width: 100%;
							left: 0px;
							margin-top: 12px;
							border-radius: 14px;
							padding: 21px 25px 21px 25px;
							background-color: #126a9a;
							border: 1px solid #ffffff;
							color: #fff;
							font-size: 18px;
						}
						::placeholder {
							font-family: 'DM Sans';
							font-size: 18px;
							font-weight: 400;
							line-height: 27px;
							letter-spacing: 0em;
							text-align: left;
							color: #eeeeee80;
						}
					}
				}
				.submit-btn {
					cursor: pointer;
					height: 42.18000030517578px;
					border-radius: 5px;
					padding: 13.09px 26px 13.09px 26px;
					margin-top: 52px;
					background: #ffffff;
					box-shadow: 0px 8px 4px 0px #00000040;
					font-family: DM Sans;
					font-size: 16px;
					font-weight: 700;
					line-height: 16px;
					letter-spacing: 1.600000023841858px;
					text-align: center;
					color: #054d7c;
				}
				padding-bottom: 10px;
			}
			.information {
				// width: 417px;
				max-width: 417px;
				// width: 35.7%;
				.info-heading {
					font-family: 'DM Sans';
					font-size: 22px;
					font-weight: 700;
					line-height: 31px;
					letter-spacing: 0.2199999988079071px;
					text-align: left;
					color: #ffffff;
					margin-bottom: 12px;
				}
				.brief {
					font-family: 'DM Sans';
					font-size: 18px;
					font-weight: 400;
					line-height: 32px;
					letter-spacing: 0em;
					text-align: left;
					color: #ffffff;
					margin-bottom: 32px;
				}
				.address-wrapper {
					.address {
						display: flex;
						gap: 12.06px;
						margin-bottom: 14.28px;
						.svg-icon-wrapper {
							padding: 0;
							display: flex;
							justify-content: flex-start;
							.svg-icon {
								height: 21px;
								width: 29.87px;
								margin-top: 6px;
							}
						}
						.details {
							.detail {
								.country-flag {
									height: 12px;
									width: 12px;
									margin-right: 8.71px;
								}
								font-family: 'Manrope';
								font-size: 16px;
								font-weight: 400;
								line-height: 22px;
								letter-spacing: 0em;
								// text-align: left;
								color: #ffffff;
							}
							.add-margin {
								margin-left: 20.77px;
							}
							.more-margin {
								margin-left: 25.77px;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1065px) {
			.alignment {
				flex-direction: column;
			}
		}
	}
}
@media screen and (max-width: 1228px) {
	.get-in-touch {
		margin: 0 80px;
	}
}
@media screen and (max-width: 1118px) {
	.get-in-touch {
		margin: 0 50px;
	}
}
@media screen and (max-width: 1065px) {
	.get-in-touch {
		margin: 0 136px;
	}
}
@media screen and (max-width: 950px) {
	.get-in-touch {
		margin: 0 80px;
	}
}
@media screen and (max-width: 750px) {
	.get-in-touch {
		margin: 0 40px;
	}
}
@media screen and (max-width: 525px) {
	.get-in-touch {
		margin: 0 20px;
	}
}
