* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	// width: 100%;
	box-sizing: border-box;
	overflow: none;
}
.main{
	width: 100%;
	max-width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-items: flex-start;
}
$backgroundBlue: #02426b;
$primary-blue: #0e4e8c;
$secondary-blue: #1448ff;
$deep-blue: #02416b;
$primary-grey: #868686;
$snake-lining: #d9d9d9;
$input: #d9d9d9;
$subscribe-input: #d9d9d9;

@import './components/scssPartials/main/header';
@import './components/scssPartials/main/footer';
@import './components/scssPartials/pages/home/home';
@import './components/scssPartials/pages/about/about';
@import './components/scssPartials/pages/contactUs';
@import './components/scssPartials/pages/services/services';
@import './components/scssPartials/pages/products/products';
@import './components/scssPartials/pages/ourClients';
@import './components//scssPartials//pages/services/servicesNew';
@import './components/scssPartials/pages/services/servicesDetail';
//
@import './components/scssPartials/forAll/slider';
